@import "bootstrap";

/* ヘッダー*/
body {
  background-color: #f0ffff !important;
}

.top {
  background-color: #bbcccc;
  margin: 0;
  padding: 10px;
}

.top h2 {
  color: #ffffff !important;
  font-size: 15px;
}

h1 {
  display: inline;
  font-size: xx-large;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bolder;
  // font-weight: 100;
  // color:#ffffff!important;
  color: rgb(253, 253, 255);
}

.header_menu {
  margin: 15px;
}

.menu {
  background-color: #bbcccc;
  padding: 5px;
}

li {
  text-align: center;
  display: block;
  border: 3px solid rgba(0, 0, 0, 0.5);
  margin: 3px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

hr {
  border-bottom: double;
}

.navbar {
  min-width: 0% !important;
}

.logout {
  float: right;
}

.login {
  float: right;
}
